.glass {
  display: block;
}
.weather {
  position: absolute;
  //width: 40%;
  top: 5rem;
  //bottom: 15rem;
  padding: 15px;
  left: 1rem;
  //text-align: center;
  background: rgba(0,0,0,0.25);
  box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 4px rgba(255,255,255,0.2), inset 0 1px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);

  -moz-animation: glassAnimation 2s ease-in-out;
  -ms-animation: glassAnimation 2s ease-in-out;
  -o-animation: glassAnimation 2s ease-in-out;
  animation: glassAnimation 2s ease-in-out;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .3);
    filter: blur(5px);
    background: inherit;
  }

}
.favouriteBtn {
  opacity: .9;
}

@keyframes glassAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes glassAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes glassAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes glassAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes glassAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
