.weather {

  display: flex;

}

.weather-container {
  display: flex;
  //text-align: center;
  justify-content: space-between;
  //align-items: baseline;
  width: 80%;
  //height: 10rem;
  padding: 0.2rem;
.weather-text {
  width: 80%;
  font-size: 2.2vh;
  display: flex;
  flex-direction: column;
  //width: 50%;
  & ul {
    text-align: left;
    margin-left: 1.5rem;
  }
}
  & h3 {
    padding: 0 2rem;
  }
  & div {
    display: flex;
    padding: 0.6rem;
  }
}
.weather-header{
  font-size: 3vh;

}

.wi {
  color: #ffdd4a;
  font-size: 60px;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

//body,html{
//  margin: 0;
//  width: 100vw;
//  height: 100vh;
//  font-family: "Source Sans Pro" sans-serif;
//}
//.plus__activated {
//  background-color: #ed1c5b;
//}
.plus{
  //position: relative;
  //z-index: 1;
  right: 1px;
  width: 40px;
  height: 40px;
  color: #1a1a1a;
  background: #402020;
  border-radius: 50%;
  border: none;
  transition: box-shadow 400ms cubic-bezier(.2,0,.7,1), transform 200ms cubic-bezier(.2,0,.7,1);
  opacity: .9;

  &:after{
    content: "+";
    font-size: 2.5em;
    line-height: 1.1em;
  }
  &:hover{
    transform: rotate(45deg);
    box-shadow: 0 0 1px 15px rgba(#8A3B58, 0.4),
    0 0 1px 30px rgba(#8A3B58, 0.1),
    0 0 1px 45px rgba(#8A3B58, 0.1);

  }
  &__activated {
    //position: relative;
    //z-index: 1;
    width: 40px;
    height: 40px;
    color: #1a1a1a;
    background: #402020;
    border-radius: 50%;
    border: none;
    transition: box-shadow 400ms cubic-bezier(.2,0,.7,1), transform 200ms cubic-bezier(.2,0,.7,1);
    background: #ae0008;
    opacity: .9;
    &:after{
      content: "+";
      font-size: 2.5em;
      line-height: 1.1em;
    }
    &:hover{
      transform: rotate(45deg);
      box-shadow: 0 0 1px 15px rgba(#8A3B58, 0.4),
      0 0 1px 30px rgba(#8A3B58, 0.1),
      0 0 1px 45px rgba(#8A3B58, 0.1);

    }
  }
}
.favouriteBtn {

  //content: ' \2605';
  //font-size: 50px;
  //height: 50px;
  //background: transparent;
  //border: none;
  //
  //color: rgb(255, 203, 0);
  //opacity: .9;
  //right: 4rem;
  //margin-right: auto;
  //display: block;
  //position: absolute;
  &:hover {
    content: ' \2605';
  }
  &__disabled {
    content: ' \2605';
  }
}



